.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid gray;
  height: 4em;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 2em;
  margin-left: 15px;
}

.page-link {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 100ms ease-out
}

.page-link:hover {
  background-color: #505050;
}

.content {
  flex: 1;
  margin: 10px;
}