<div class="container">
  <div class="header">
    <a class="title page-link" routerLink="">
      >doohickeys_
    </a>
    <a class="page-link" routerLink="sukirt">
      SukiRT
    </a>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>