.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4em;
  height: 1em;
  line-height: normal;
}

.description {
  margin: 10px 0;
}

.main {
  width: min(500px, 100%);
}

.step {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.step-num {
  color: gray;
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  padding: 5px;
  border-radius: 1em;
  line-height: 1em;
  transition: background-color 100ms ease-out;
  transition: color 100ms ease-out;
  transition: border-color 100ms ease-out;
}

.step-num-complete {
  background-color: white;
  color: black;
  border-color: white;
}

.step-num-error {
  background-color: red;
  color: black;
  border-color: red;
}

.step-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.step-content-center {
  align-items: center;
}

.srtlabel {
  // width: 113px;
}

.button {
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 100ms ease-out;
  padding: 2px 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: gray;
}

#srtfile {
  display: none;
}

.filename {
  flex: 1;
}

#timedelay {
  font-size: 1em;
  height: 1em;
  //width: 175px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid gray;
  padding: 5px 0;
  border-radius: 0;
  transition: border-color 100ms ease-out;
}

#timedelay:focus {
  outline: none;
  border-color: white;
}