<div class="page-container">
  <div class="title">
    SukiRT
  </div>
  <div class="description">
    So you don't have to drag a billion boxes an inch to the right whenever you make a video
  </div>
  <div class="main">
    <div class="step">
      <div class="step-num" [class.step-num-complete]="step1 && !step1err" [class.step-num-error]="step1err">
        1
      </div>
      <div class="step-content">
        <label class="srtlabel button" for="srtfile">Select the SRT file</label>
        <input id="srtfile" type="file" accept="srt" (change)="newFile($event)">
        <div class="filename">{{file?.name}}</div>
      </div>
    </div>
    <div class="step">
      <div class="step-num" [class.step-num-complete]="step2 && !step2err" [class.step-num-error]="step2err">
        2
      </div>
      <div class="step-content step-content-center">
        <input id="timedelay" type="text" placeholder="Seconds to delay subtitles" (input)="newDelay($event)">
      </div>
    </div>
    <div class="step">
      <div class="step-num" [class.step-num-complete]="step3 && !step3err" [class.step-num-error]="step3err">
        3
      </div>
      <div class="step-content">
        <button class="button" (click)="processFile()">
          Go
        </button>
        <div *ngIf="step3err">
          Something may or may not have broken, message me so I can fix.
        </div>
      </div>
    </div>
  </div>
</div>
